# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python_work_2\django_8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
